---
title: Api of marscss
body: api
active: api
---
<div class="wrapper">
  <div class="api-sidebar">
    <ul class="sidebar-menu">
      <% ['builder','rule','common','composed','modifier'].each do |item| %>
      <li>
        <button>
          <i class="icon-type-<%= item %>"></i>
          <%= item %>
        </button>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="api-content">
    <div class="api-search">
      <input type="text" class="input" placeholder="search by name">
    </div>
    <table class="table-collapse">
      <thead>
        <tr>
          <th class="cell-type">
            Type
          </th>
          <th class="cell-name">
            <label class="checkbox">
              Name
              <input type="checkbox" data-target=".search-by-name" data-placeholder="name" checked>
            </label>
          </th>
          <th class="cell-file">
            <label class="checkbox">
              marscss file
              <input type="checkbox" data-target=".search-by-file" data-placeholder="file">
            </label>
          </th>
        </tr>
      </thead>
      <tbody>
      <%= partial 'partials/api-item', locals:{
        data: data.api.elements,
        file: '_elements.scss'
      } %>
      <%= partial 'partials/api-item', locals:{
        data: data.api.forms,
        file: '_forms.scss'
      } %>
      </tbody>
    </table>
  </div>
</div>
